/* ShowMMR dashboard mod by AveYo, 2023.09.26 */
DOTADashboardBackgroundLastMatch{

     width: 100%;
     height: 100%;
}

 #custom{

     width: 100%;
     height: 100%;
     horizontal-align: center;
     saturation: 0.8;
     opacity: 0.6;
     blur: gaussian( 4 );
 }

 .OnHomePage #custom{
     saturation: 1;
     opacity: 1;
     blur: gaussian( 0 );
 }

 #BackgroundScene{

     visibility: collapse;
 }

 #DetailsContainer,#MissingDataContainer{

     width: 1000px;
     margin-bottom: 130px;
     vertical-align: bottom;
     horizontal-align: center;
     flow-children: down;

     opacity: 0.0;
     transition-property: opacity;
     transition-duration: 0.2s;
 }

 .AspectRatio4x3 #DetailsContainer,.AspectRatio4x3 #MissingDataContainer{

     width: 600px;
     margin-left: 20px;
 }

 .AspectRatio16x10 #DetailsContainer,.AspectRatio16x10 #MissingDataContainer{

     margin-left: 180px;
 }

 .OnHomePage #MissingDataContainer,.OnHomePage #DetailsContainer{


     opacity: 1.0;
 }

 #MissingDataContainer,.DataMissing #DetailsContainer{


     visibility: collapse;
 }
 .DataMissing #MissingDataContainer{

     visibility: visible;
 }

 .MissingDataTitle{

     color: #ffffff;
     font-size: 48px;
     font-weight: bold;
     text-align: right;
     font-family: titleFont;
     text-shadow: 2px 2px 4px black;
     opacity: 0;
 }

 .LastMatchTitle{

     text-align: right;
     font-size: 14px;
     text-transform: uppercase;
     letter-spacing: 1px;
     color: #ffffff80;
     text-shadow: 2px 2px 10px black;
 }

 .DateAndTime{

     flow-children: right;
 }





 #Details{

     flow-children: down;
 }

 #Details Label{

     text-transform: uppercase;
     letter-spacing: 1px;
 }

 .HeroName{

     color: #ffffffee;
     font-size: 50px;
     font-weight: bold;
     text-align: right;
     font-family: titleFont;
  letter-spacing: 1px;
     text-shadow: 0px 0px 10px #000000;
  text-transform: uppercase;
 }

 .MatchInfo{

     flow-children: right;
 }

 .KDALabel{

     font-size: 16px;
     margin-right: 5px;
     text-shadow: 2px 2px 4px black;
     color: #ffffff60;
     font-weight: semi-bold;
     letter-spacing: 1px;
 }

 .KDA{

     font-size: 16px;
     margin-right: 12px;
     text-shadow: 2px 2px 4px black;
     color: #ffffffaa;
     font-weight: normal;
 }

 .MatchOutcome{

     font-size: 12px;
     font-weight: semi-bold;
     text-transform: uppercase;
     visibility: collapse;
     background-color: #ffffffaa;
     border-radius: 2px;
     padding: 3px 7px 3px 7px;
     color: #ffffff;
     margin-top: 0px;
     margin-right: 8px;
     text-align: center;
 }

 #Win{

     text-shadow: 0px 0px 5px 1.0 #0f701c;
     background-color: #41c441;
 }

 #Loss{

     text-shadow: 0px 0px 12px 1.0 #000000;
     background-color: #dd4422;
     background-color: #333333;
 }


 .IsWin #Win,.IsLoss #Loss,.IsNotScored #NotScored{

     visibility: visible;
 }

 #MatchItems{
     width: 100%;
     height: fit-children;
     flow-children: right;
 }

 #Items{

     flow-children: right;
     saturation: .95;
     brightness: .75;
     transition-property: wash-color, saturation, brightness;
     transition-duration: 0.25s;
     transition-timing-function: ease-in;
     margin-top: 10px;
     margin-bottom: 5px;
 }


 .ItemImage{

     width: 40px;
     height: 32px;
     margin-right: 5px;
     border: 1px solid #19313E;
     background-color: #192229;
 }

 .DateTimeLabel{

     color: #888888;
     font-size: 12px;
     text-transform: uppercase;
     letter-spacing: 1px;
     text-align: right;
 }

 #ViewDetailsButton{

     margin-top: 8px;
     border: 1px solid #ffffff30;
     padding:  8px 16px;
     border-radius: 2px;
     background-color: #00000030;
     transition-property: border, background-color;
     transition-duration: 0.3s;
 }

 #ViewDetailsButton Label{

     text-align: right;
     font-size: 14px;
     color: #ffffff;
     text-transform: uppercase;
     letter-spacing: 2px;
     text-shadow: 2px 2px 4px black;
 }

 #ViewDetailsButton:hover{

     border: 1px solid #ffffff90;
     background-color: #00000090;
     transition-property: border, background-color;
     transition-duration: 0.3s;
 }

 #ViewDetailsButton:active{

     brightness: 1.5;
}