/* ShowTime dashboard mod by AveYo, 2023.09.01 */
.DashboardBackgroundDefault{

  width: 100%;
  height: 100%;
  vertical-align: center;
  horizontal-align: center;
  background-color: black;
  overflow: clip;
  
}

 #Custom{

  horizontal-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  opacity: 0.5;

  background-color: transparent;

  background-image: url( "s2r://panorama/images/dashboard_background_default.vtex");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

 .OnHomePage #Custom{

  width: 800px;
  height: 450px;
  margin-bottom: 300px;
  opacity: 1;
}

 .TitleContainer{
  horizontal-align: center;
  vertical-align: bottom;
  flow-children: down;
  margin-bottom: 160px;

  opacity: 0;
  transform: translateY(24px);
  transition-property: opacity, transform;
  transition-duration: 0.6s;
  transition-delay: 0.3s;
  transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

 .TitleContainer Label{
   horizontal-align: center;
}

 .TitleContainer .CCSeason{
   font-size: 20px;
   font-family: titleFont;
   font-weight: bold;
   letter-spacing: 1px;
   color: #F7E6B5;

   margin: -5px 0px;
   text-transform: uppercase;
   text-shadow: 0px 0px 8px 5.0 #000a;
}

 .TitleContainer .CCTitle{
   font-size: 40px;
   font-family: titleFont;
   font-weight: bold;
   letter-spacing: 1px;
   color: gradient(linear, 0% 65%, 0% 100%, from(#FFFFFF), color-stop(0.2, #cfd7db), to(#e1e8eb));
   margin: 6px 0px;
   text-transform: uppercase;
   text-shadow: 0px 0px 10px 5.0 #000a;
}

 .TitleContainer .CCAvailable{
   color: #F7E6B5;
   text-shadow: 0px 0px 8px 5.0 #000a;
}

.TitleContainer #BuyNowButton{
   horizontal-align: center;
   margin-top: 32px;
   min-width: 240px;
}

 .OnHomePage .TitleContainer{

   opacity: 0.6;
   transform: none;

   transition-duration: 0.2s;
   transition-delay: 0.0s;
   transition-timing-function: ease-out;
}

